<% provide(:title, t("home.home")) %>
<!doctype html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
</head>
<body>
  <%= link_to "English", locale: "en" %>
  <%= link_to "Vietnamese", locale: "vi" %>
  <h1><%= t "home.title" %></h1>
  <p>
    <%= t "home.text.title" %>
    <%= link_to "My site", "https://www.railstutorial.org/" %>
    <%= t "home.text.sample_application" %>
  </p>
</body>
</html>
